n8n/notion-blog-mover.json
{
  "name": "Notion: Move Published Blog Posts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notion-blog-mover",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "GitHub Actions Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "notion-blog-mover"
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/databases/2ffd25c0b37880a7975dd9c15c9b2fef/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"property\": \"Status\",\n    \"select\": {\n      \"equals\": \"Published\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "query-blog-db",
      "name": "Query Blog DB for Published Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Notion API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-results",
      "name": "Any Published Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split-pages",
      "name": "Split Into Individual Pages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/pages/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"type\": \"page_id\",\n    \"page_id\": \"dba955cb-ee4f-45ff-9e97-11694ef5fbaa\"\n  }\n}",
        "method": "PATCH",
        "options": {}
      },
      "id": "move-page",
      "name": "Move Page to @cmdaltr Blog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "credentials": {
        "httpHeaderAuth": {
          "name": "Notion API Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "no-op",
      "name": "Nothing to Move",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "GitHub Actions Webhook": {
      "main": [
        [
          {
            "node": "Query Blog DB for Published Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Blog DB for Published Pages": {
      "main": [
        [
          {
            "node": "Any Published Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Published Pages?": {
      "main": [
        [
          {
            "node": "Split Into Individual Pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nothing to Move",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Individual Pages": {
      "main": [
        [
          {
            "node": "Move Page to @cmdaltr Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
